{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   <script type="text/javascript" src="{% static 'js/main.js' %}" defer ></script>
{% endblock %}
{% block title %}homepage{% endblock %}
{% block main %}
  
   <!-- Example Code -->
   <div class="row gap-1" >
    <div class="col-2 border p-3 d-none d-sm-none d-md-block " >
      <div class="row" >
        <div class="col" >
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-6">EGOLE</span>
          </a>
          <hr/>
          <div class="accordion accordion-flush " id="accordionFlushExample">
            <div class="accordion-item text-secondary px-3">
                <h6 class="accordion-header" id="flush-headingOne">
                <a href="{% url 'pages:dashboard'%}" class=" collapsed" type="button">
                <i class="bi bi-speedometer2 me-2"></i>
                Dashboard
                </a>
                </h6>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    <i class="bi bi-columns-gap me-2"></i> Product
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{% url 'store:List_products' %}">products</a></li>
                        <li class="list-group-item"><a href="{% url 'store:add_store' %}">Store Branch</a></li>
                        <li class="list-group-item"><a href="{% url 'store:add_brand' %}">Add Brand</a></li>
                        <li class="list-group-item"><a href="{% url 'store:add_category' %}">Add Catagory</a></li>
                        <li class="list-group-item"><a href="{% url 'store:add_specification' %}">Add Spacification</a></li>
                        <li class="list-group-item"><a href="{% url 'store:add_picture' %}">Add image</a></li>
                        <li class="list-group-item"><a href="{% url 'store:add_productStock' %}">Add product</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  >
                  <i class="bi bi-calendar3 me-2"></i>Orders
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">New</li>
                        <li class="list-group-item">Processed</li>
                        <li class="list-group-item">Shipped</li>
                        <li class="list-group-item">Returned</li>
                      </ul>
                  </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                  <i class="bi bi-person-square me-2"></i>Account
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">New</li>
                        <li class="list-group-item">Profile</li>
                        <li class="list-group-item">Settings</li>
                        <li class="list-group-item">Sign out</li>
                      </ul>
                  </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading4">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse4"
                        aria-expanded="false"
                        aria-controls="flush-collapse4"
                    >
                    <i class="bi bi-journal-album me-2"></i>Customers 
                    </button>
                </h2>
                <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading5">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse5"
                    aria-expanded="false"
                    aria-controls="flush-collapse5"
                >
                <i class="bi bi-upc-scan me-2"></i>Purchase
                </button>
                </h2>
                <div
                id="flush-collapse5"
                class="accordion-collapse collapse"
                aria-labelledby="flush-heading5"
                data-bs-parent="#accordionFlushExample"
                >
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading6">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse6"
                    aria-expanded="false"
                    aria-controls="flush-collapse6"
                >
                <i class="bi bi-receipt me-2"></i>Sell
                </button>
                </h2>
                <div
                id="flush-collapse6"
                class="accordion-collapse collapse"
                aria-labelledby="flush-heading6"
                data-bs-parent="#accordionFlushExample"
                >
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col border offcanvas-body ">
      <div class="navbar ">
      
        <!-- Page Heading -->
        <div class="container border-bottom  my-4">
            <div class="d-flex justify-content-even gap-3 ">
                <div class="">
                    <button class="navbar-toggler d-sm-none d-md-none d-lg-black " type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"  aria-controls="offcanvasExample" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="pt-2">
                  <h6>Dashboard</h6>
                </div>
            </div>
        </div>
        <!-- End of Topbar -->
      </div>

      <div class="my-3 mx-auto">
        <main class=""> {%block mainDash %}{%endblock mainDash%} </main>
      </div>
    

      <!-- offcanvas offcanvas menu -->
      <div class="offcanvas offcanvas-start navbar-nav-scrol" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                <a href="/" class=" d-flex align-items-center mb-2 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi pe-none me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-4">Campany Name</span>
                </a>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="">
              <div class="row" >
                <div class="col" >
                  <hr>
                  <div class="accordion accordion-flush " id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <a href="{% url 'pages:dashboard'%}" class="accordion-button collapsed" type="button">
                                <i class="bi bi-speedometer2 me-2"></i>
                                Dashboard
                            </a>
                        </h2>
                  
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne"
                            aria-expanded="false"
                            aria-controls="flush-collapseOne"
                          >
                            <i class="bi bi-columns-gap me-2"></i> Products
                          </button>
                        </h2>
                        <div
                          id="flush-collapseOne"
                          class="accordion-collapse collapse"
                          aria-labelledby="flush-headingOne"
                          data-bs-parent="#accordionFlushExample"
                        >
                          <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="{% url 'store:List_products' %}">products</a></li>
                                <li class="list-group-item"><a href="{% url 'store:add_store' %}">Store Branch</a>
                                <li class="list-group-item"><a href="{% url 'store:add_brand' %}">Add Brand</a></li>
                                <li class="list-group-item"><a href="{% url 'store:add_category' %}">Add Catagory</a></li>
                                <li class="list-group-item"><a href="{% url 'store:add_specification' %}">Add Spacification</a></li>
                                <li class="list-group-item"><a href="{% url 'store:add_picture' %}">Add image</a></li>
                                <li class="list-group-item"><a href="{% url 'store:add_productStock' %}">Add product</a></li>
                            </ul>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo"
                            aria-expanded="false"
                            aria-controls="flush-collapseTwo"
                          >
                          <i class="bi bi-calendar3 me-2"></i>Orders
                          </button>
                        </h2>
                        <div
                          id="flush-collapseTwo"
                          class="accordion-collapse collapse"
                          aria-labelledby="flush-headingTwo"
                          data-bs-parent="#accordionFlushExample"
                        >
                          <div class="accordion-body">
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">New</li>
                                <li class="list-group-item">Processed</li>
                                <li class="list-group-item">Shipped</li>
                                <li class="list-group-item">Returned</li>
                              </ul>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree"
                            aria-expanded="false"
                            aria-controls="flush-collapseThree"
                          >
                          <i class="bi bi-person-square me-2"></i>Account
                          </button>
                        </h2>
                        <div
                          id="flush-collapseThree"
                          class="accordion-collapse collapse"
                          aria-labelledby="flush-headingThree"
                          data-bs-parent="#accordionFlushExample"
                        >
                          <div class="accordion-body">
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">New...</li>
                                <li class="list-group-item">Profile</li>
                                <li class="list-group-item">Settings</li>
                                <li class="list-group-item">Sign out</li>
                              </ul>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading4">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse4"
                            aria-expanded="false"
                            aria-controls="flush-collapse4"
                        >
                        <i class="bi bi-journal-album me-2"></i>Customers 
                        </button>
                        </h2>
                        <div
                        id="flush-collapse4"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-heading4"
                        data-bs-parent="#accordionFlushExample"
                        >
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading5">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse5"
                            aria-expanded="false"
                            aria-controls="flush-collapse5"
                        >
                        <i class="bi bi-upc-scan me-2"></i>Purchase
                        </button>
                        </h2>
                        <div
                        id="flush-collapse5"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-heading5"
                        data-bs-parent="#accordionFlushExample"
                        >
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading6">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse6"
                            aria-expanded="false"
                            aria-controls="flush-collapse6"
                        >
                        <i class="bi bi-receipt me-2"></i>Sell
                        </button>
                        </h2>
                        <div
                        id="flush-collapse6"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-heading6"
                        data-bs-parent="#accordionFlushExample"
                        >
                      <div class="accordion-body">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                            <li class="list-group-item">A fourth item</li>
                            <li class="list-group-item">And a fifth one</li>
                          </ul>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Example Code -->

{% endblock %}