section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.0rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
.h2_text {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    
    font-size: 1.1rem;
}
.mbr-bold {
    font-weight: 700;
}

.p_text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-size: 0.8rem; }




/* sear*/
  
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #baf8d4;
    border-radius: 10px;
    padding: 10px;
   }

    .search_input{
    color: rgb(31, 28, 28);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 5px;
    width: 300px;
    caret-color:rgb(25, 0, 255);
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: rgb(43, 42, 42);
    color: #ebe9f5;
    }

    .search_icon{
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:rgb(3, 3, 3);
    text-decoration:none;
    }        